@model List<naya_project.Models.employee>
@{
    ViewBag.Title = "index";
  
}

<form>
    <br />
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="name" class="form-control" />
    </div>
    <br />
    <br /><br />
    <label class="col-md-2">Address</label>
    <div class="col-md-4">
        <input type="text" name="Address" class="form-control" />
    </div>
    <br /><br /><br />
    <label class="col-md-2">Contact</label>
    <div class="col-md-4">
        <input type="text" name="Contact" class="form-control" />
    </div>

</form>
   
            

